<div class="favroutites-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">Favourite books</div>
        <div class="book-count">100</div>
    </div>

    <div class="right-header">
        <div id="btnDeletFav" class="bl-button-hover">Delete</div>
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th class="checkbox"><input type="checkbox"></th>
                <th>Book name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publisher year</th>
                <th>Category</th>
                <th>Ammount</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td class="checkbox"><input type="checkbox"></td>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="">
                    <span>Liliana</span>
                </td>
                <td>Active</td>
                <td>0135354553</td>
                <td>Active</td>
                <td>0135354553</td>
                <td>0135354553</td>
                <td class="edit-icon">
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>

            <tr>
                <td class="checkbox"><input type="checkbox"></td>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="">
                    <span>Liliana</span>
                </td>
                <td>Active</td>
                <td>0135354553</td>
                <td>Active</td>
                <td>0135354553</td>
                <td>0135354553</td>
                <td class="edit-icon">
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>

            <tr>
                <td class="checkbox"><input type="checkbox"></td>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="">
                    <span>Liliana</span>
                </td>
                <td>Active</td>
                <td>0135354553</td>
                <td>Active</td>
                <td>0135354553</td>
                <td>0135354553</td>
                <td class="edit-icon">
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>

        </tbody>
    </table>
</div>