<app-item-management-actions></app-item-management-actions>

<hr class="custom-horizontal-line" />

<div class="contain-table-header">
  <div class="left-table-header">
    <h3>All</h3>
    <p>({{books.length}})</p>
  </div>

  <div class="right-table-header">
    <div class="search-bar">
      <input type="text" id="inputSearchBook" placeholder="Search" (input)="onSearchBookName($event)"/>
      <i class="fa-solid fa-magnifying-glass bl-button-hover"></i>
    </div>
  </div>
</div>

<div class="contain-user-table">
  <table class="user-table" id="bookTable">
    <thead>
      <tr>
        <th>Book name</th>
        <th>Author</th>
        <th>Pushlisher</th>
        <th>Pushlish year</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let book of books">
        <td>
          <!-- <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="" onerror="this.src='book.png'"> -->
          <img
            src="{{ book.imageUrl | bookImage }}"
            alt=""
            onerror="this.src='book.png'"
          />
          <span>{{ book.title }}</span>
        </td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.publishYear | dateFormat }}</td>
        <td>{{ book.categoryName }}</td>
        <td>{{ book.totalCopies }}</td>
        <td (click)="showEditBookForm(book)">
          <i class="fa-solid fa-pen-to-square"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Export book template -->
<app-export-template
  *ngIf="
    formManagementService.getFormState(FormName.LibrarianExportBookTemplate)
  "
>
</app-export-template>

<!-- Import book template -->
<app-import-template
  *ngIf="formManagementService.getFormState(FormName.LibrarianImportBooks)"
  (dataEvent)="this.onReceiveDataFromForm($event)"
>
</app-import-template>

<!-- Creaet book -->
<app-create-book
  *ngIf="formManagementService.getFormState(FormName.LibrarianCreateBook)"
  (dataEvent)="this.onReceiveDataFromForm($event)"
>
</app-create-book>

<!-- Edit book -->
<app-edit-book
  *ngIf="formManagementService.getFormState(FormName.LibrarianEditBook)"
  (dataEvent)="this.onReceiveDataFromForm($event)"
>
</app-edit-book>
