<app-base-overlay (click)="closeForm()">
    <div class="delete-dialog" (click)="$event.stopPropagation()">
        <div class="contain-warning-icon">
            <i class="fa-solid fa-exclamation"></i>
        </div>

        <div class="delete-dialog-title">Are you sure you want to delete? </div>
        <p class="description-title">This will remove from the application</p>

        <div class="contain-dialog-button">
            <button class="bl-button-hover" id="btnCancel" (click)="closeForm()">Cancel</button>
            <button class="bl-button-hover" id="btnDelete" (click)="onSubmit()">Delete</button>
        </div>
    </div>
</app-base-overlay>