<div class="contain-banner-for-reader">

    <div class="banner-title">Popular book categories</div>

    <div class="banner-desscrioption">Categories with the largest number of books</div>

    <div class="banner-for-reader">

        <div class="banner-item">
            <div class="banner-item-left">
                <div class="category-name">Detective</div>
                <div class="contain-book-count">
                    <div class="book-count">10</div>
                    <span>books</span>
                </div>
            </div>
            <div class="banner-item-right">
                <img class="book-image"
                    src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                    alt="">
            </div>
        </div>

        <div class="banner-item">
            <div class="banner-item-left">
                <div class="category-name">Detective</div>
                <div class="contain-book-count">
                    <div class="book-count">10</div>
                    <span>books</span>
                </div>
            </div>
            <div class="banner-item-right">
                <img class="book-image"
                    src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                    alt="">
            </div>
        </div>

        <div class="banner-item">
            <div class="banner-item-left">
                <div class="category-name">Detective</div>
                <div class="contain-book-count">
                    <div class="book-count">10</div>
                    <span>books</span>
                </div>
            </div>
            <div class="banner-item-right">
                <img class="book-image"
                    src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                    alt="">
            </div>
        </div>
    </div>

</div>
