<div class="borrowing-history-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">Borrowing history</div>
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th>Book name</th>
                <th>Loan date</th>
                <th>Due date</th>
                <th>Return date</th>
                <th>Fine</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let item of bookBorrowingHistory">
                <td>
                    <img src="{{item.imageUrl}}" onerror="this.src='book.png'"
                        alt="">
                    <span>{{item.bookName}}</span>
                </td>
                <td>{{item.loanDate}}</td>
                <td>{{item.dueDate}}</td>
                <td>{{item.returnDate}}</td>
                <td>{{item.fine}}$</td>
            </tr>

        </tbody>
    </table>
</div>