<div class="borrowing-history-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">Borrowing history</div>
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th>Book name</th>
                <th>Loan date</th>
                <th>Due date</th>
                <th>Return status</th>
                <!-- <th>Fine</th> -->
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="borrowIntime.length === 0" class="record-not-found">
                <td colspan="4" class="text-center">Record not found!</td>
            </tr>

            <tr *ngFor="let item of borrowIntime">
                <td>
                    <img [src]="item.book.imageUrl[0] | safeImage: 2" alt="Book">
                    <span>{{item.book.title}}</span>
                </td>
                <td>{{item.loanDate | dateFormat}}</td>
                <td>{{item.dueDate | dateFormat}}</td>
                <td class="intime">Intime</td>
                <!-- <td>{{item.fine}}$</td> -->
            </tr>

            <tr *ngFor="let item of borrowOverdue">
                <td>
                    <img [src]="item.book.imageUrl[0] | safeImage: 2" alt="Book">
                    <span>{{item.book.title}}</span>
                </td>
                <td>{{item.loanDate | dateFormat}}</td>
                <td>{{item.dueDate | dateFormat}}</td>
                <td class="overdue">Overdue</td>
                <!-- <td>{{item.fine}}$</td> -->
            </tr>

        </tbody>
    </table>
</div>