<div class="home-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">All book</div>
        <div class="book-count">100</div>
    </div>

    <div class="right-header">
        <div class="search-bar">
            <input type="text" id="inputSearchUser" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass bl-button-hover"></i>
        </div>

        <div class="dropdown-container">
            <select id="book-category" class="dropdown">
                <option value="author">Author</option>
                <option value="publisher">Pulisher</option>
            </select>
        </div>
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th>Book name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publisher year</th>
                <th>Category</th>
                <th>Ammount</th>
                <th>Favourite</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="">
                    <span>Liliana</span>
                </td>
                <td>Active</td>
                <td>0135354553</td>
                <td>Active</td>
                <td>0135354553</td>
                <td>0135354553</td>
                <td class="edit-icon">
                    <i class="fa-regular fa-star"></i>
                </td>
            </tr>  

            <tr>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="">
                    <span>Liliana</span>
                </td>
                <td>Active</td>
                <td>0135354553</td>
                <td>Active</td>
                <td>0135354553</td>
                <td>0135354553</td>
                <td class="edit-icon">
                    <i class="fa-regular fa-star"></i>
                </td>
            </tr> 

            <tr>
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="">
                    <span>Liliana</span>
                </td>
                <td>Active</td>
                <td>0135354553</td>
                <td>Active</td>
                <td>0135354553</td>
                <td>0135354553</td>
                <td class="edit-icon">
                    <i class="fa-regular fa-star"></i>
                </td>
            </tr> 
            
        </tbody>
    </table>
</div>