<div class="user-management-table">
    <div class="user-management-table-title">All user ({{totalAllRoles}})</div>

    <div class="user-managment-func">
        <div class="contain-tab-navigation">
            <div class="tab-navigation">
                <button *ngFor="let btn of buttonTabList" id="{{btn.id}}" [ngClass]="btn.isActive ? 'active' : ''"
                    (click)="onChangeTab(btn.roleName)">
                    {{btn.roleName}}
                </button>
            </div>
        </div>

        <div class="action-controls">
            <div class="search-bar">
                <input type="text" id="inputSearchUser" placeholder="Search" [(ngModel)]="searchQuery"
                    (input)="searchUsers()">
                <i class="fa-solid fa-magnifying-glass bl-button-hover" (click)="searchUsers()"></i>
            </div>

            <button id="btnDeleteChoosedUser" class="bl-button-hover"
                (click)="deletMultiUsers()">Delete</button>
        </div>
    </div>

    <div class="contain-user-table">
        <table class="user-table">
            <thead>
                <tr>
                    <th class="checkbox">
                        <input type="checkbox" id="checkbox_all" #checkboxAll (change)="toggleSelectAll($event.target)">
                    </th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Init date</th>
                    <th>Phone number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngIf="users.length === 0">
                    <td colspan="9" class="no-results">No matching results found.</td>
                </tr>

                <tr *ngFor="let user of users">
                    <td class="checkbox">
                        <input type="checkbox" [(ngModel)]="user.isChecked" (change)="toggleSelectSingle(user)">
                    </td>
                    <td>{{user.fullname}}</td>
                    <td>
                        <span class="role" [ngClass]="roleHelperService.getRoleNameById(user.roleId)">
                            {{roleHelperService.getRoleNameById(user.roleId)}}
                        </span>
                    </td>
                    <td>{{user.email}}</td>
                    <td>
                        <span class="status" m [ngClass]="user.isActivated ? 'active' : 'inactive'">
                            {{user.isActivated ? 'active' : 'inactive'}}
                        </span>
                    </td>
                    <td>{{user.initDate | dateFormat}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td class="edit-icon" (click)="saveDataToEditUserForm(user)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </td>
                    <td class="delete-icon" (click)="saveDataToDeleteUserForm(user.username)">
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>