<div class="contain-form">

  <h2 id="titleAppWithForm">book library</h2>

  <img id="headerLogoResetPass" src="reset_password.png" alt="Reset passowrd">

  <form action="" [formGroup]="resetPasswordForm" id="login-form" class="user-form">

    <h2>Reset password</h2>
    <p>Please kindly set your new password</p>

    <div class="form-input-row">
      <label for="email">* Password</label>
      <!-- <input type="password" id="email" class="bl-input-hover" placeholder="Please enter email"/> -->

      <div class="password-wrapper">
        <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" id="password"
          class="form-password-input bl-input-hover" placeholder="Please enter passsword" />

        <i class="fa-regular" *ngIf="resetPasswordForm.get('password')?.value" [class.fa-eye]="!passwordVisible"
          [class.fa-eye-slash]="passwordVisible" (click)="togglePasswordVisibility()">
        </i>
      </div>

      <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
        <span *ngIf="resetPasswordForm.get('password')?.hasError('required')" class="form-validation-message">Password
          is
          required</span>
        <span *ngIf="resetPasswordForm.get('password')?.hasError('minlength')" class="form-validation-message">Password
          must be
          at least 8 characters
          long</span>
      </div>

    </div>

    <div class="form-input-row">
      <label for="authenticationCode">* Re-password</label>
      <!-- <input type="password" id="authenticationCode" class="bl-input-hover" placeholder="Please enter re-password" /> -->

      <div class="password-wrapper">
        <input formControlName="repassword" [type]="repasswordVisible ? 'text' : 'password'" id="rePassword"
          class="form-password-input bl-input-hover" placeholder="Please enter re-passsword" />

        <i class="fa-regular" *ngIf="resetPasswordForm.get('repassword')?.value" [class.fa-eye]="!repasswordVisible"
          [class.fa-eye-slash]="repasswordVisible" (click)="toggleRePasswordVisibility()">
        </i>
      </div>

      <div *ngIf="resetPasswordForm.get('repassword')?.invalid && resetPasswordForm.get('repassword')?.touched">
        <span *ngIf="resetPasswordForm.get('repassword')?.hasError('required')"
          class="form-validation-message">Re-password is
          required</span>
        <span *ngIf="resetPasswordForm.get('repassword')?.hasError('minlength')"
          class="form-validation-message">Re-password must be
          at least 8 characters
          long</span>
      </div>
    </div>

    <div class="contain-button">
      <button id="btnConfirmResetPass" type="submit" [disabled]="resetPasswordForm.invalid"
        class="form-button bl-button-hover" (click)="confirmResetPassword()">Confirm</button>
    </div>

  </form>
</div>