<header id="header">

    <div id="leftHeader">
        <button *ngIf="user.roleId !== 1" mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>

        <h2 id="logoTitle" mat-raised-button matTooltip="Title" matTooltipPosition="above">
            Book Library
        </h2>
    </div>

    <div id="rightHeader">
        <div id="containUserInfo" (click)="showUserProfileService()" mat-raised-button matTooltip="User information"
            matTooltipPosition="above">
            <img [src]="user.imageUrl || 'avatar_user.png'" alt="avatar_user" id="avatar_user" onerror="this.src='user_avatar.png'">
            <span id="fullname">{{user.fullname}}</span>
        </div>

        <button id="btnLogout" (click)="onLogout()">Sign out</button>
    </div>

</header>

<!-- Userprofile component -->
<app-user-profile *ngIf="isUserProfileFormVisible" [user]="user" 
    (dataEvent)="onReceiveDataFromUserProfileForm($event.formName, $event.action)">

</app-user-profile>