<div class="favroutites-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">Favourite books</div>
        <div class="book-count">({{favoritesBookLength}})</div>
    </div>

    <div class="right-header">
        <div id="btnDeletFav" class="bl-button-hover" (click)="removeManyFavBook()">Delete</div>
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th class="checkbox">
                    <input type="checkbox" (change)="selectAllBooks($event)" [checked]="isAllSelected()">
                </th>
                <th>Book name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publisher year</th>
                <th>Category</th>
                <!-- <th>Ammount</th> -->
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="favoritesBook.length === 0" class="record-not-found">
                <td colspan="8" class="text-center">Record not found!</td>
            </tr>

            <tr *ngFor="let book of favoritesBook">
                <td class="checkbox">
                    <input type="checkbox" (change)="onBookSelect(book.id, $event)"
                        [checked]="selectedBookIds.includes(book.id)">
                </td>
                <td>
                    <img [src]="book.imageUrl | safeImage: 2" alt="Book">
                    <span>{{book.title}}</span>
                </td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.publishYear | dateFormat}}</td>
                <td>{{book.categoryName}}</td>
                <!-- <td>{{book.totalCopies}}</td> -->
                <td class="delete-icon" (click)="this.removeFavoriteBook(book.id)">
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<!-- Delete book favourite for reader -->
<app-delete-dialog *ngIf="this.formManagementService.getFormState(FormName.ReaderDeleteFavBookDialog)"
    (dataEvent)="onRecieveDataFormDeleteForm($event)">

</app-delete-dialog>