<app-base-overlay (click)="closeForm()">
    <form id="createUserForm" class="user-form" [formGroup]="createUserForm" (click)="$event.stopPropagation()"
        (submit)="onSubmit()">
        <h2 class="create-user-title">Create new user</h2>

        <div class="contain-inputs">
            <div class="form-input-row">
                <label for="">Name</label>
                <input type="text" formControlName="name" class="bl-input-hover" placeholder="Please enter name">

                <div *ngIf="createUserForm.get('name')?.invalid && createUserForm.get('name')?.touched">
                    <span *ngIf="createUserForm.get('name')?.hasError('required')" class="form-validation-message">Name
                        is
                        required</span>
                    <span *ngIf="createUserForm.get('name')?.hasError('minlength')" class="form-validation-message">Name
                        must be
                        at least 6 characters
                        long</span>
                </div>
            </div>

            <div class="form-input-row">
                <label for="">Role</label>
                <select id="role" formControlName="role" name="role" class="bl-input-hover">
                    <option *ngFor="let role of roles" value="{{role.id}}">
                        {{role.name}}
                    </option>
                </select>
            </div>

            <div class="form-input-row">
                <label for="">Username</label>
                <input type="text" formControlName="username" class="bl-input-hover"
                    placeholder="Please enter username">

                <div *ngIf="createUserForm.get('username')?.invalid && createUserForm.get('username')?.touched">
                    <span *ngIf="createUserForm.get('username')?.hasError('required')"
                        class="form-validation-message">Username is
                        required</span>
                    <span *ngIf="createUserForm.get('username')?.hasError('minlength')"
                        class="form-validation-message">Username
                        must be
                        at least 6 characters
                        long</span>
                </div>
            </div>

            <div class="form-input-row">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="bl-input-hover" placeholder="Please enter email">

                <div *ngIf="createUserForm.get('email')?.invalid && createUserForm.get('email')?.touched">
                    <span *ngIf="createUserForm.get('email')?.hasError('required')"
                        class="form-validation-message">Email is
                        required</span>
                    <span *ngIf="createUserForm.get('email')?.hasError('email')" class="form-validation-message">Email
                        is
                        not incorect format</span>
                </div>
            </div>

            <div class="form-input-row">
                <label for="">Phone number</label>
                <input type="text" formControlName="phoneNumber" class="bl-input-hover"
                    placeholder="Please enter phone number">

                <div *ngIf="createUserForm.get('phoneNumber')?.invalid && createUserForm.get('phoneNumber')?.touched">
                    <span *ngIf="createUserForm.get('phoneNumber')?.hasError('required')"
                        class="form-validation-message">
                        Phone number is required
                    </span>
                    <span *ngIf="createUserForm.get('phoneNumber')?.hasError('pattern')"
                        class="form-validation-message">
                        Phone number must be 10 digits
                    </span>
                </div>
            </div>
        </div>

        <div class="conatin-btns">
            <button id="btnCancelCreateUser" class="bl-button-hover" (click)="closeForm()">Cancel</button>
            <button id="btnConfirmCreateUser" class="bl-button-hover"
                [disabled]="createUserForm.invalid">Confirm</button>
        </div>
    </form>
</app-base-overlay>