#headerLogoUser {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

#verifyUserForm h2 {
    font-size: 30px !important;
}

#verifyUserForm p {
    font-size: 16px !important;
}

#verifyUserForm .contain-button {
    margin-top: -15px !important;
}

#contain-verify-form .contain-redirect-login {
    color: #6e6a6a;
    text-decoration: none;
    font-weight: 500;
}

#btnSendCode {
    background-color: #272f25;
}