<app-base-overlay (click)="closeForm()">
    <div class="user-file-fun">
        <h2 class="title">{{roleId === 1 ? 'Import user list' : 'Import book list'}}</h2>

        <div class="contain-icon">
            <i class="fa-solid fa-upload"></i>
        </div>

        <div class="contain-choose-file">
            <div class="choose-file-left">
                <i class="fa-solid fa-paperclip"></i>
                <input type="file" style="display: none;" id="fileInput" (change)="onFileChange($event)">
                <span class="file-name">{{selectedFileName}}</span>
            </div>

            <div class="choose-file-right">
                <button (click)="chooseFile()" id="btnChooseFile" class="bl-button-hover">Choose file</button>
            </div>
        </div>

        <div class="contain-button">
            <button (click)="closeForm()" class="bl-button-hover">Cancel</button>
            <button (click)="onImportUserToApp()" class="bl-button-hover">Import</button>
        </div>
    </div>
</app-base-overlay>