<h2 style="font-weight: 500; margin-bottom: 10px;">Book return</h2>
<p>Allows returning books and viewing information about books that are being borrowed</p>

<hr class="custom-horizontal-line">

<div class="home-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">All book</div>
        <div class="book-count">(100)</div>
    </div>

    <div class="right-header">
        <div class="search-bar">
            <input type="text" id="inputSearchUser" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass bl-button-hover"></i>
        </div>

        <!-- <div class="dropdown-container">
            <select id="book-category" class="dropdown">
                <option *ngFor="let searchType of searchTypes" value="{{searchType}}">
                    {{searchType}}
                </option>
            </select>
        </div> -->
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th>Book name</th>
                <th>Author</th>
                <th>Book copy code</th>
                <th>Borrower id</th>
                <th>Category</th>
                <th>Ammount</th>
                <th>Return</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let loan of loans;index as i">
                <td>
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1328768386i/6393242.jpg"
                        alt="" onerror="this.src='book.png'">
                    <span>{{loan.book.title}}</span>
                </td>
                <td>{{loan.book.author}}</td>
                <td>{{loan.book._id}}</td>
                <td>{{loan.readerUsername}}</td>
                <td>{{loan.book.categorys | bookCategory}}</td>
                <td>{{loan.book.totalCopies}}</td>
                <td class="edit-icon">
                    <i class="fa-regular fa-circle-check" (click)="showBookReturnConfirmDialog(i)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<!-- Book return confirm dialog -->
<app-book-return-confirm-dialog *ngIf="formManagementService.getFormState(FormName.LibrarianBookReturnConfirmDialog)"
 (onConfirm)="this.returnBook()"
>

</app-book-return-confirm-dialog>