.left-header-title {
    font-size: 22px !important;
}

/* CSS for search bar */
.right-header #inputSearchUser {
    min-width: 240px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.right-header #inputSearchUser:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

.right-header #inputSearchUser:focus {
    border: 1px solid #ccc;
    outline: none;
}

.right-header .search-bar {
    display: inline-block;
    position: relative;
}

.right-header .search-bar i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* CSS for dropdown list */
.dropdown-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.dropdown-container label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.dropdown {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.dropdown:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

.dropdown option {
    font-size: 14px;
    padding: 5px;
}

/* CSS for table header */
.home-reader-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-header .left-header-title {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.left-header .book-count {
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    color: #8a8686;
}

.right-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* CSS for table */
.user-table tbody tr td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.user-table tbody tr td:last-child i {
    margin-left: 15px;
}

.user-table tbody tr td:first-child img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-table tbody tr td:first-child span {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}