<div class="contain-banner-for-reader">

    <div class="banner-title">Popular book categories</div>

    <div class="banner-desscrioption">Categories with the largest number of books</div>

    <div class="banner-for-reader">

        <div *ngFor="let category of popularCategories" class="banner-item">

            <div class="banner-item-left">
                <div class="category-name">{{category.categoryName}}</div>
                <div class="contain-book-count">
                    <div class="book-count">{{category.bookCount}}</div>
                    <span>books</span>
                </div>
            </div>

            <div class="banner-item-right">
                <img class="book-image" [src]="category.categoryName| getCategoryImage" alt="">
            </div>

        </div>

    </div>

</div>