<div class="home-reader-table-header">

    <div class="left-header">
        <div class="left-header-title">All book</div>
        <div class="book-count">({{booksCount}})</div>
    </div>

    <div class="right-header">
        <div class="search-bar">
            <input type="text" id="inputSearchUser" [(ngModel)]="searchQuery" placeholder="Please enter book name"
                (input)="searchBook()">
            <i class="fa-solid fa-magnifying-glass bl-button-hover" (click)="searchBook()"></i>
        </div>

        <!-- <div class="dropdown-container">
            <select id="book-category" class="dropdown">
                <option value="author">Author</option>
                <option value="publisher">Pulisher</option>
            </select>
        </div> -->
    </div>

</div>

<div class="contain-user-table">
    <table class="user-table">

        <thead>
            <tr>
                <th>Book name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publisher year</th>
                <th>Category</th>
                <th>Ammount</th>
                <th>Favourite</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="books.length === 0" class="record-not-found">
                <td colspan="7" class="text-center">Record not found!</td>
            </tr>

            <tr *ngFor="let book of books">
                <td>
                    <img [src]="book.imageUrl | safeImage: 2" alt="Book">
                    <span>{{book.title}}</span>
                </td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.publishYear | dateFormat}}</td>
                <td>{{book.categoryName}}</td>
                <td>{{book.totalCopies}}</td>
                <td>
                    <i class="fa-regular fa-star" [ngClass]="favoriteBooks[book.id] ? 'fa-solid' : 'fa-regular'"
                        (click)="toggleFavorite(book.id)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</div>